/* Background */
.appMount-3VJmYg {
    background: var(--background-image);
}

/* removing more backgrounds - theme based */
.app .markup-2BOw-j pre, .userSettingsVoice-iwdUCU .media-engine-video, .search-bar .search-bar-inner, .app .tag-HanR-9:before, #bda-qem, .app .wrapper-29NfPK,
.create-guild-container.deprecated .create-or-join .form-inner {
	background: none;
}

/* markdown box background and border */
.app .markup-2BOw-j code, .app .markup-2BOw-j code.inline, .theme-dark .markup-2BOw-j pre, .option-n0icdO:hover, .app .cardPrimaryOutline-29Ujqw,
 .app .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .app .attachment-33OFj0,
 .theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header, .theme-dark .wrapper-1cBijl, .theme-dark .markup-2BOw-j code,
 .theme-dark .markup-2BOw-j code.inline, .theme-dark .invite-18yqGF {
	background: var(--markdown-background-color);
	border-color: var(--markdown-border-color);
}
/* another stuff */
.theme-dark .body-3ND3kc {
	background: var(--accent-color);
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx, .userInfoSection-2acyCx+.userInfoSection-2acyCx, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
	border-bottom: 2px solid var(--markdown-border-color);
	border-top: 2px solid var(--markdown-border-color);
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .messageGroupWrapper-o-Zw7G {
	border: 2px solid var(--markdown-border-color);
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
	background: var(--markdown-background-color);
	border: 2px solid var(--markdown-border-color);
}
.theme-dark .jumpButton-3DTcS_, .theme-dark .questionMark-CWEQZn {
	background-color: var(--accent-color);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
	box-shadow: none;
	background: none;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
	color: #d6d6d6;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
	background-color: var(--accent-color-hover);
}
.wrapper-2NJDcI {
    color: #bec0c3;
}
/* accent color, buttons */
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a, .lookFilled-1Gx00P.colorBrand-3pXr91, .side-8zPYf6 .itemSelected-1qLhcL,
 .app #bd-settings-sidebar .ui-tab-bar-item.selected, .bd-pfbtn, .bda-slist .bda-footer button, .selected-mKYnfr.option-n0icdO, .wrapper-3jrx9n, .barFill-23-gu-, .app .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,
 .app .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover, .app .member-3W1lQa.popout-open .content-OzHfo4, .app .member-3W1lQa.popout-open:hover .content-OzHfo4, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled, .aka-1mqp34, .wrapper-232cHJ, .search-bar,
.theme-dark .input-2VB9rf, .theme-dark .keybindShortcut-1BD6Z1 span, .theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary, .theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary .badge, .theme-dark #friends .tab-bar .tab-bar-item.selected,
.app .defaultIndicator-2X8Auf, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6, .botTagRegular-2HEhHi, .wrapper-2NJDcI, .theme-dark .footer-1FPmkC, .theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected,
 .theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected .badge, .app .tag-HanR-9, .app .tileWrapper-2khh-w, .theme-dark .libraryFilterInput-3JzqZD, .theme-dark .iconCircle-1dlYo0, .theme-dark .browseSearchInput-Jt8kg0,
.theme-dark .container-2x5lvQ header, .theme-dark .message-2qRu38, .search-bar.search-bar-light, .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r, .uploadModal-2ifh8j .footer-3mqk7D .button-primary, .form-deprecated .btn-primary, .form.deprecated .btn-primary {
	background: var(--accent-color);
	border: 2px solid;
	border-color: var(--accent-color-border);
}
.app .bar-2Qqk5Z {
	background: var(--accent-color-hover);
	border: none;
}
/* accent color, hover buttons */
.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active,  .channel-2QD9_O:hover a, .app .side-8zPYf6 .itemDefault-3Jdr52:hover,
 .lookFilled-1Gx00P.colorBrand-3pXr91:hover, .app #bd-settings-sidebar .ui-tab-bar-item:hover, .option-n0icdO, .app .member-3W1lQa:hover .content-OzHfo4, .theme-dark #friends .friends-table .friends-row:hover,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected), .app .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover, .form.deprecated .form-inner, .need-help-modal.form.deprecated .footer,
.need-help-modal.form.deprecated .header input[type=text], .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover, .theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),
.create-guild-container.deprecated .action:hover.create .btn {
	background: var(--accent-color-hover);
	border: 2px solid;
	border-color: var(--accent-color-border-hover);
}
/* hover only for border*/
.theme-dark .messageGroupWrapper-o-Zw7G:hover, .app .input-cIJ7To:hover, .button-2KyEfG:hover {
	border: 2px solid;
	border-color: var(--accent-color-border-hover);
}
/* send message button */
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: rgba(29, 121, 152, 0.59);
    border: 2px solid #1c8aa9;
    color: #43b581;
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background-color: rgba(29, 121, 152, 1);
    border: 2px solid #1c8aa9;
    color: #43b581;
}
.search-bar.search-bar-light input {
    color: #d0d0d0;
}
/* status profiles */
.theme-dark .headerNormal-T_seeN {
	background-color: var(--submenu-color);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .changeDetails-bk98pu, .theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z, .theme-dark .searchAnswer-3Dz2-q,
 .theme-dark .searchFilter-2ESiM3, .theme-dark .accountBtnInner-sj5jLs:hover, .emojiPicker-3m1S-j .stickyHeader-1SS0JU {
	background-color: var(--accent-color);
}
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
    background: rgba(29, 185, 84, 0.69);
}
.userPopout-3XzG_A, .theme-dark .overlappingBorder-1ysb12 {
    border: 2px solid;
	box-shadow: none;
	-webkit-box-shadow: none;
    border-color: var(--accent-color-border);
}
.theme-dark .quickMessage-1yeL4E {
	border: 2px solid;
	background-color: var(--submenu-color);
    border-color: var(--accent-color-border);
}
.headerTop-3C2Zn0 {
	border-bottom: 2px solid var(--accent-color-border);
}
/* header playing a game */
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n, .newMessagesBar-mujexs {
    background: rgba(114, 170, 218, 0.8);
}
/* new message info hover */
.newMessagesBar-mujexs:hover {
    background: rgba(114, 170, 218, 1);
}
/* big buttons */
.theme-dark .cardPrimaryEditable-3KtE4g, .app .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218)"] {
	background-color: var(--accent-color)!important;
	border-color: var(--accent-color-border)!important;
}
/* checker ON/OFF and fixes */
.themeDefault-24hCdX.valueChecked-m-4IJZ, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checkedcheck,
 #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
	background: var(--checker-on);
	border: 1px solid;
	border-color: var(--accent-color-border);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch, .themeDefault-24hCdX {
	background: var(--checker-off);
	border: 1px solid;
	border-color: var(--accent-color-border-hover);
}
.theme-dark .accountBtnInner-sj5jLs:hover {
	border: 2px solid;
	border-color: var(--accent-color-border-hover);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before {
    transform: translateX(21px);
}
/* another checker*/
.theme-dark .checked-3_4uQ9 {
	background-color: var(--accent-color);
	border-color: var(--accent-color-border)!important;
}
/* extra fron colors */
.title-3BE6m5 {
    color: #a7a7a7;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
	color: #fff;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
	background-color: var(--submenu-color);
}
/* border of accent colors */
.innerNoAutocomplete-1WpcVO, .search .search-bar, .theme-dark .auditLog-3jNbM6, .container-1UB9sr, .theme-dark .accountBtnInner-sj5jLs, .video-1FfuMD {
	border: 2px solid;
	border-color: var(--accent-color-border);
}
/* same border but with 1px */
.app .checkbox-1ix_J3, .app .messageGroupBlocked-3wrQQX.revealed-1_RKsf, .theme-dark .select-2TCrqx .Select-menu-outer, .theme-dark .select-2TCrqx .Select-control {
	border: 1px solid;
	border-color: var(--accent-color-border);
}
.theme-dark .select-2TCrqx .Select-control:hover {
	border: 1px solid;
	border-color: var(--accent-color-border-hover);
}
.theme-dark .inner-zqa7da, .app .search .search-bar {
	background: rgba(54, 139, 165, 0.45);
}
/* removing a border */
.theme-dark .select-2TCrqx .is-focused {
	border-color: transparent;
}
.uploadModal-2ifh8j .inner-3nWsbo, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
	border-color: var(--accent-color-border);
	background-color: transparent;
}

/* guild background color */
.app .guild-1EfMGQ .guildInner-3DSoA4 {
	background-color: var(--accent-color);
}
.app .checkbox-1ix_J3, .app .guild-1EfMGQ .guildInner-3DSoA4[style*="background-color: rgb(47, 49, 54);"] {
	background-color: var(--accent-color)!important;
}
.app .guild-1EfMGQ .guildInner-3DSoA4[style*="background-color"] {
	background-color: var(--accent-color)!important;
}

/* + button of guilds */
.app .guildsAdd-21_IdK {
	background-color: var(--accent-color);
	border-color: var(--accent-color-border);
	color: var(--accent-color-border);
}
.theme-dark .guildsAdd-21_IdK:hover {
	background-color: var(--accent-color-hover);
	border-color: var(--accent-color-border-hover);
	color: var(--accent-color-border-hover);
}

/* box my few background boxes */
.app .cardPrimary-1Hv-to, .app .cardPrimaryEditable-3KtE4g, .app .bda-slist li {
	background: var(--markdown-background-color);
	border-color: var(--markdown-border-color);
}

/* fixing some code */
.theme-dark .option-96V44q:after {
	display:none;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: var(--accent-color-border);
}
/* submenu's */
.theme-dark.contextMenu-HLZMGh, .theme-dark .menu-Sp6bN1, .app .messageGroupBlocked-3wrQQX.revealed-1_RKsf, .theme-dark .container-3ayLPN,
 .theme-dark .header-ykumBX, .theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .topSectionNormal-2-vo2m, .theme-dark .modal-3HD5ck,
.theme-dark .quickswitcher-3JagVE, .theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action, .app .autocomplete-1vrmpx,
 .theme-dark .attachPopout-1n-ZKM, .theme-dark .headerExpanded-CUEwZ5, .theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN,
.app .tileWrapper-2khh-w, .app .searchBox-3Y2Vi7, .need-help-modal.form.deprecated .header, .app .popout-2xBvMR, .app .tileWrapper-2khh-w:hover,
 .container-1UB9sr, .theme-dark .container-2x5lvQ section, .theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header, .theme-dark .footer-2yfCgX, .theme-dark .accountBtnInner-sj5jLs, .emojiPicker-3m1S-j
, #bda-qem button.active, #bda-qem button:hover, #bda-qem-twitch-container, #bda-qem-favourite-container,
.theme-dark .select-2TCrqx .Select-menu-outer, .app .tier1Banner-1B_WXY, .video-1FfuMD, .uploadModal-2ifh8j .footer-3mqk7D, .uploadModal-2ifh8j,
.create-guild-container.deprecated, .create-guild-container.deprecated .action {
	background-color: var(--submenu-color);
}

.theme-dark .itemSubMenu-1vN_Yn:hover, .theme-dark .item-1Yvehc:hover, .theme-dark .item-1GzJrl:hover, .theme-dark .option-96V44q.selected-rZcOL-,
  .theme-dark .resultFocused-3aIoYe, .app .selectorSelected-1_M1WV, .theme-dark .attachPopoutRow-KrE-f6:hover,.theme-dark .select-2TCrqx .Select-option.is-focused {
	background-color: var(--submenu-hover);
}

/* custom emoji button and border and box shadow */
#bda-qem button {
	background-color: rgba(18, 63, 80, 0.35);
	border-left: 1px solid var(--accent-color-border);
	box-shadow: var(--accent-color-border) 1px 0 0 0;
	color: #b5b5b5;
}
/* scroll bar */
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb,
 .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
 .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
 .theme-dark #friends .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .select-2TCrqx .Select-menu::-webkit-scrollbar-thumb,
 .scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-thumb,
 .theme-dark .select-2TCrqx .Select-menu::-webkit-scrollbar-thumb {
	background: var(--accent-color)!important;
	border: 2px solid!important;
	border-color: var(--accent-color-border)!important;
}
::-webkit-scrollbar-track-piece, .scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
 .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-track,
 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
	background: none!important;
	border: none!important;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    box-shadow: inset 0 -4px 0 var(--accent-color);
}
/* animations for direct messages */
.channel-2QD9_O.selected-1HYmZZ a {
	transition: all 0.5s ease-in;
}
.popoutLeft-30WmrD.noArrow-3BYQ0Z {
	transition: all 0.1s ease-in;
}
/* store some backgrounds */
.theme-dark .tileMedia-24cT6_ {
    background-color: var(--submenu-color);
}
.theme-dark .mediaDescription-31GsyQ {
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(45%,rgba(32,34,37,.75)),to var(--submenu-color));
}
.theme-dark .mediaFade-4Pqtcc {
	background: linear-gradient(180deg,transparent 10%,var(--submenu-color));
}
.theme-dark .itemBackground-1jfD8p {
    background-color: var(--submenu-color);
}
.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(54,57,63,0),var(--submenu-color)),linear-gradient(90deg,#36393f 0,rgba(54,57,63,0) 40%,rgba(54,57,63,0) 60%,#36393f),linear-gradient(0deg,#36393f 0,rgba(54,57,63,0) 25%);
	border: 2px solid var(--accent-color-border);
}
/* mention color and hover */
.app .wrapper-3WhCwL {
    background-color: rgba(27, 158, 185, 0.3);
    color: #00daff;
}
.app .wrapperHover-1GktnT:hover {
    background-color: rgb(11, 157, 175);
}
.app .markup-2BOw-j a, .app .topic-2QX7LI a, .operations-36ENbA>a, .form-deprecated header, .form.deprecated header, .create-guild-container.deprecated .action.create .action-header,
 .lookLink-9FtZy-.colorBrand-3pXr91 {
	color: #00daff;
}

/* tooltip */
.tooltip.tooltip-black, .theme-dark .divider-1pnAR2 {
	background: var(--accent-color);
	border-color: var(--markdown-border-color);
}
/* tooltip little arrow */
.tooltip.tooltip-black.tooltip-top:after {
	border-top-color: var(--markdown-border-color);
}
.tooltip.tooltip-black.tooltip-right:after {
	border-right-color: var(--markdown-border-color);
}
.tooltip.tooltip-black.tooltip-bottom:after {
	border-bottom-color: var(--markdown-border-color);
}

/* settings box padding */
#bd-settingspane-container .ui-switch-item {
    padding: 10px;
}
/* settings side bar customization */
/* compact settings from satoru with a few modifications */  /* doesnt need to be changed, it doesnt glitch anything */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ,#app-mount #bd-settings-sidebar .ui-tab-bar-item{line-height:14px}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e {padding: 20px 18px 20px 23px ;width: 210px }
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {flex: 0}
.standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {max-width: 90%;padding: 40px 30px 80px}

/* extra code */
.ui-tab-bar {transition:0.2s;}

/* Spotify, steam and league of legends boxes at connections */
.theme-dark .elevationLow-2lY09M[style*="background-color: rgb(2, 31, 37);"] {
    background-color: rgba(2, 31, 37, 0.7)!important;
    border-color: rgb(2, 31, 37)!important;
    border: 1px solid;
}
.theme-dark .elevationLow-2lY09M[style*="background-color: rgb(24, 35, 50);"] {
	background-color: rgba(24, 35, 50, 0.7)!important;
    border-color: rgb(2, 31, 37)!important;
    border: 1px solid;
}
.theme-dark .elevationLow-2lY09M[style*="background-color: rgb(29, 185, 84);"] {
	background-color: rgba(29, 185, 84, 0.7)!important;
    border-color: rgb(29, 185, 84)!important;
    border: 1px solid;
}

/* discord nitro button selected and hover states */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="background-color: rgb(114, 137, 218);"] {
	background-color: var(--accent-color)!important;
	border: 2px solid var(--accent-color-border)!important;
}
.side-8zPYf6 .item-PXvHYJ {
	color: #b9bbbe!important;
}

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="background-color: rgba(114, 137, 218, 0.0980392);"] {
	background-color: var(--accent-color-hover)!important;
	border: 2px solid var(--accent-color-hover)!important;
}

/*Discord Title bar */

html > head + body > div#app-mount.appMount-3VJmYg > div.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div.wordmark-2iDDfm {
	content: url('https://i.imgur.com/eEsQbNC.png') !important;
	display: block !important;
	position: absolute !important;
	width: 145px !important;
	height: 15px !important;
	margin: 0 !important;
	padding: 4px 8px 3px !important;
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
	right: unset !important;
	opacity: 0.6 !important;
	visibility: visible !important;
}

/* none settings */
html > head + body > div#app-mount.appMount-3VJmYg > div.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div.wordmark-2iDDfm:after {
	content: url('data:image/svg+xml; utf8, <svg width="400" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path stroke="none" fill="#FFF" fill-rule="evenodd" transform="scale(0.6,0.6) translate(5,4)" d="M58.488 0.690 C 54.786 0.948,52.503 3.334,52.961 6.466 C 53.321 8.926,55.135 10.509,58.186 11.025 C 60.205 11.366,61.177 12.097,60.818 13.004 C 60.260 14.412,57.255 14.154,55.679 12.564 L 55.440 12.323 55.340 12.411 C 55.125 12.602,52.767 14.824,52.768 14.836 C 52.768 14.843,52.842 14.938,52.932 15.047 C 55.188 17.761,58.434 18.568,61.663 17.218 C 63.879 16.291,65.049 14.673,65.056 12.523 C 65.066 9.499,63.520 7.999,59.581 7.209 C 57.730 6.838,56.956 6.245,57.139 5.336 C 57.409 3.990,59.424 3.729,61.092 4.823 C 61.328 4.978,61.513 5.126,61.754 5.350 L 61.902 5.489 63.269 4.436 C 64.021 3.857,64.640 3.372,64.645 3.357 C 64.668 3.286,63.905 2.499,63.488 2.164 C 62.141 1.082,60.367 0.559,58.488 0.690 M79.453 0.691 C 76.162 0.865,73.785 2.780,73.354 5.604 C 73.306 5.919,73.281 11.980,73.325 12.570 C 73.506 14.979,75.020 16.759,77.535 17.519 C 80.709 18.479,83.881 17.374,85.557 14.725 C 85.782 14.369,85.916 14.116,85.893 14.093 C 85.872 14.073,82.327 12.430,82.254 12.406 C 82.224 12.397,82.198 12.429,82.144 12.544 C 81.882 13.103,81.353 13.555,80.730 13.752 C 79.382 14.177,77.866 13.572,77.593 12.501 C 77.539 12.288,77.540 6.228,77.595 6.015 C 78.042 4.261,81.252 4.104,82.289 5.785 C 82.338 5.865,82.385 5.930,82.393 5.930 C 82.409 5.930,85.820 4.554,85.837 4.541 C 85.856 4.526,85.497 3.838,85.340 3.588 C 84.071 1.573,82.003 0.555,79.453 0.691 M122.233 0.698 C 118.928 0.954,116.621 2.860,116.252 5.640 C 116.198 6.046,116.207 12.646,116.263 13.000 C 116.678 15.665,118.768 17.446,121.919 17.818 C 124.720 18.149,127.505 16.687,128.743 14.235 L 128.815 14.092 128.669 14.026 C 128.589 13.989,127.762 13.608,126.832 13.177 C 125.902 12.747,125.135 12.395,125.129 12.395 C 125.122 12.395,125.079 12.471,125.032 12.564 C 124.149 14.321,121.136 14.341,120.519 12.593 L 120.453 12.407 120.447 9.350 C 120.442 6.713,120.445 6.267,120.476 6.106 C 120.814 4.288,124.035 4.054,125.172 5.764 C 125.233 5.855,125.288 5.930,125.294 5.930 C 125.318 5.930,128.710 4.554,128.727 4.537 C 128.750 4.515,128.506 4.030,128.302 3.691 C 127.042 1.592,124.822 0.498,122.233 0.698 M150.163 0.690 C 146.674 0.881,144.259 2.928,144.024 5.893 C 143.992 6.292,143.992 12.111,144.024 12.535 C 144.229 15.291,146.239 17.273,149.317 17.756 C 152.815 18.304,156.021 16.678,156.902 13.907 C 157.157 13.104,157.167 12.980,157.179 10.250 L 157.190 7.907 153.816 7.907 L 150.442 7.907 150.442 9.686 L 150.442 11.465 151.770 11.465 L 153.098 11.465 153.088 11.948 C 153.069 12.840,152.771 13.335,152.028 13.707 C 150.559 14.443,148.672 13.843,148.297 12.522 L 148.244 12.337 148.244 9.221 L 148.244 6.105 148.296 5.922 C 148.641 4.708,150.215 4.096,151.595 4.640 C 152.111 4.844,152.607 5.305,152.816 5.777 C 152.852 5.859,152.875 5.885,152.903 5.877 C 152.970 5.857,156.383 4.277,156.404 4.256 C 156.456 4.205,156.028 3.438,155.709 3.012 C 154.517 1.418,152.475 0.563,150.163 0.690 M180.081 0.700 C 176.707 0.925,174.383 2.695,173.857 5.442 C 173.796 5.758,173.758 12.153,173.814 12.721 C 174.112 15.773,176.906 17.847,180.721 17.847 C 184.496 17.847,187.238 15.831,187.594 12.794 C 187.645 12.357,187.645 6.177,187.593 5.740 C 187.221 2.553,184.063 0.434,180.081 0.700 M390.026 0.701 C 386.623 0.917,384.214 2.823,383.799 5.628 C 383.750 5.958,383.722 11.716,383.765 12.444 C 383.954 15.593,386.593 17.735,390.430 17.853 C 394.202 17.969,397.090 15.976,397.551 12.938 C 397.616 12.508,397.615 6.017,397.550 5.593 C 397.065 2.452,393.986 0.450,390.026 0.701 M249.326 4.333 C 249.326 7.601,249.328 7.786,249.366 7.797 C 249.389 7.803,250.338 8.626,251.477 9.625 C 252.615 10.624,253.554 11.442,253.564 11.442 C 253.574 11.442,253.581 9.871,253.581 7.952 L 253.581 4.462 254.948 4.471 C 256.262 4.479,256.321 4.481,256.495 4.530 C 257.918 4.924,257.953 6.870,256.547 7.343 L 256.360 7.405 255.366 7.414 L 254.372 7.422 254.372 8.954 L 254.372 10.486 255.413 10.494 C 256.589 10.503,256.592 10.504,257.000 10.704 C 258.198 11.291,258.196 13.081,256.998 13.659 C 256.517 13.891,256.654 13.884,252.716 13.884 L 249.326 13.884 249.326 15.744 L 249.326 17.605 252.831 17.604 C 256.414 17.604,256.877 17.595,257.522 17.512 C 260.168 17.172,261.703 15.747,262.103 13.259 C 262.394 11.447,261.566 9.707,259.993 8.829 C 259.761 8.699,259.762 8.700,259.877 8.639 C 260.813 8.141,261.456 6.960,261.452 5.744 C 261.445 3.299,259.914 1.508,257.419 1.024 C 256.765 0.897,256.875 0.901,252.959 0.890 L 249.326 0.881 249.326 4.333 M317.842 0.913 C 317.848 0.929,319.202 4.691,320.851 9.273 L 323.849 17.604 325.791 17.604 L 327.733 17.605 330.739 9.259 C 332.392 4.669,333.744 0.907,333.744 0.899 C 333.744 0.891,332.721 0.884,331.471 0.884 L 329.198 0.884 327.877 4.983 L 326.556 9.081 326.185 11.012 C 325.982 12.073,325.815 12.955,325.814 12.971 C 325.814 12.987,325.801 13.000,325.785 13.000 C 325.765 13.000,325.639 12.389,325.380 11.025 L 325.004 9.049 323.695 4.966 L 322.385 0.884 320.109 0.884 C 318.298 0.884,317.834 0.890,317.842 0.913 M354.349 4.333 C 354.349 7.601,354.351 7.786,354.390 7.797 C 354.412 7.803,355.362 8.626,356.500 9.625 C 357.638 10.624,358.578 11.442,358.587 11.442 C 358.597 11.442,358.605 9.871,358.605 7.952 L 358.605 4.462 359.971 4.471 C 361.286 4.479,361.344 4.481,361.519 4.530 C 362.941 4.924,362.976 6.870,361.570 7.343 L 361.384 7.405 360.390 7.414 L 359.395 7.422 359.395 8.954 L 359.395 10.486 360.436 10.494 C 361.613 10.503,361.615 10.504,362.023 10.704 C 363.221 11.291,363.220 13.081,362.021 13.659 C 361.541 13.891,361.678 13.884,357.739 13.884 L 354.349 13.884 354.349 15.744 L 354.349 17.605 357.855 17.604 C 361.438 17.604,361.900 17.595,362.546 17.512 C 365.191 17.172,366.726 15.747,367.126 13.259 C 367.418 11.447,366.589 9.707,365.017 8.829 C 364.784 8.699,364.785 8.700,364.900 8.639 C 365.836 8.141,366.479 6.960,366.475 5.744 C 366.468 3.299,364.938 1.508,362.442 1.024 C 361.788 0.897,361.898 0.901,357.983 0.890 L 354.349 0.881 354.349 4.333 M24.186 4.356 C 24.186 7.624,24.188 7.809,24.227 7.820 C 24.249 7.827,25.199 8.649,26.337 9.648 C 27.476 10.647,28.415 11.465,28.424 11.465 C 28.434 11.465,28.442 9.895,28.442 7.975 L 28.442 4.485 29.808 4.494 C 31.123 4.502,31.181 4.505,31.356 4.553 C 32.778 4.947,32.813 6.893,31.407 7.366 L 31.221 7.429 30.227 7.437 L 29.233 7.445 29.233 8.977 L 29.233 10.509 30.273 10.517 C 31.450 10.527,31.452 10.527,31.860 10.727 C 33.058 11.314,33.057 13.104,31.858 13.682 C 31.378 13.914,31.515 13.907,27.576 13.907 L 24.186 13.907 24.186 15.767 L 24.186 17.628 27.692 17.627 C 31.275 17.627,31.737 17.618,32.383 17.535 C 35.028 17.195,36.564 15.770,36.964 13.282 C 37.255 11.471,36.426 9.731,34.854 8.852 C 34.621 8.722,34.622 8.724,34.738 8.662 C 35.674 8.165,36.316 6.984,36.312 5.767 C 36.305 3.322,34.775 1.531,32.279 1.047 C 31.625 0.921,31.735 0.924,27.820 0.914 L 24.186 0.904 24.186 4.356 M42.922 0.925 C 42.916 0.934,41.608 4.678,40.015 9.244 C 38.423 13.811,37.113 17.565,37.104 17.587 C 37.089 17.626,37.206 17.628,39.368 17.628 C 41.519 17.628,41.649 17.626,41.660 17.587 C 41.667 17.565,41.898 16.817,42.173 15.925 C 42.449 15.034,42.674 14.298,42.674 14.292 C 42.674 14.285,43.673 14.279,44.894 14.279 L 47.114 14.279 47.346 14.994 C 47.474 15.388,47.718 16.141,47.888 16.669 L 48.198 17.628 50.473 17.628 C 52.284 17.628,52.747 17.622,52.739 17.599 C 52.734 17.583,51.390 13.821,49.754 9.238 L 46.779 0.907 44.856 0.907 C 43.798 0.907,42.928 0.915,42.922 0.925 M66.860 9.267 L 66.860 17.628 68.977 17.628 L 71.093 17.628 71.093 9.267 L 71.093 0.907 68.977 0.907 L 66.860 0.907 66.860 9.267 M103.247 9.239 C 101.649 13.821,100.337 17.583,100.331 17.599 C 100.323 17.622,100.786 17.628,102.598 17.628 L 104.875 17.628 105.348 16.099 C 105.609 15.258,105.841 14.504,105.865 14.424 L 105.909 14.279 108.128 14.279 L 110.346 14.279 110.448 14.599 C 110.504 14.775,110.747 15.528,110.989 16.273 L 111.427 17.628 113.704 17.628 C 115.516 17.628,115.980 17.622,115.971 17.599 C 115.965 17.583,114.622 13.821,112.986 9.239 L 110.012 0.908 108.081 0.908 L 106.151 0.908 103.247 9.239 M130.326 9.267 L 130.326 17.628 132.453 17.628 L 134.581 17.628 134.581 14.740 L 134.581 11.851 134.644 11.761 C 134.696 11.686,134.711 11.676,134.731 11.705 C 134.745 11.723,135.703 13.064,136.860 14.683 L 138.965 17.627 141.648 17.627 C 144.025 17.628,144.329 17.624,144.317 17.593 C 144.308 17.568,137.994 9.268,137.789 9.011 C 137.778 8.996,139.071 7.397,141.060 4.969 C 142.869 2.759,144.349 0.941,144.349 0.929 C 144.349 0.915,143.342 0.907,141.715 0.908 L 139.081 0.909 136.837 3.975 L 134.593 7.041 134.587 3.974 L 134.581 0.907 132.453 0.907 L 130.326 0.907 130.326 9.267 M159.116 9.266 L 159.116 17.628 161.256 17.628 L 163.395 17.628 163.395 14.977 L 163.395 12.326 163.762 12.326 L 164.129 12.326 166.058 14.976 L 167.988 17.626 170.625 17.627 C 172.875 17.628,173.259 17.623,173.248 17.595 C 173.241 17.577,172.224 16.288,170.987 14.730 C 169.750 13.172,168.747 11.894,168.759 11.890 C 170.569 11.276,171.641 9.837,171.917 7.651 C 172.346 4.246,170.890 1.873,167.930 1.154 C 166.981 0.924,166.973 0.924,162.785 0.913 L 159.116 0.904 159.116 9.266 M189.767 6.704 C 189.767 12.984,189.763 12.742,189.893 13.354 C 190.564 16.526,194.059 18.450,197.907 17.766 C 200.535 17.299,202.429 15.647,202.943 13.372 C 203.088 12.729,203.079 13.167,203.087 6.750 L 203.094 0.907 200.955 0.907 L 198.815 0.907 198.808 6.599 C 198.801 11.986,198.798 12.299,198.759 12.453 C 198.236 14.492,194.735 14.570,194.112 12.558 L 194.058 12.384 194.052 6.645 L 194.046 0.907 191.907 0.907 L 189.767 0.907 189.767 6.704 M205.558 9.267 L 205.558 17.628 207.674 17.628 L 209.791 17.628 209.790 14.238 L 209.790 10.849 209.526 9.285 C 209.175 7.205,209.135 7.199,210.080 9.366 L 210.797 11.012 212.694 14.320 L 214.591 17.628 216.726 17.628 L 218.860 17.628 218.860 9.267 L 218.860 0.907 216.756 0.907 L 214.651 0.907 214.651 4.682 C 214.651 7.186,214.659 8.500,214.675 8.587 C 214.747 8.973,215.111 11.338,215.102 11.354 C 215.060 11.421,214.969 11.226,214.320 9.692 L 213.610 8.012 211.600 4.465 L 209.590 0.919 207.574 0.913 L 205.558 0.907 205.558 9.267 M221.488 4.334 C 221.488 7.579,221.491 7.763,221.529 7.774 C 221.551 7.780,222.501 8.603,223.640 9.602 C 224.778 10.601,225.717 11.418,225.727 11.418 C 225.736 11.419,225.744 9.948,225.744 8.150 L 225.744 4.881 227.087 4.889 L 228.430 4.897 228.663 4.960 C 229.357 5.146,229.767 5.539,229.922 6.163 C 229.963 6.328,229.965 6.490,229.965 9.244 L 229.965 12.151 229.913 12.349 C 229.704 13.139,229.110 13.560,228.105 13.628 C 227.923 13.641,226.390 13.651,224.634 13.651 L 221.488 13.651 221.488 15.640 L 221.488 17.628 224.738 17.628 C 228.530 17.628,228.747 17.619,229.628 17.442 C 232.189 16.927,233.789 15.382,234.170 13.058 C 234.229 12.694,234.263 6.624,234.209 5.965 C 233.966 2.989,231.727 1.114,228.198 0.930 C 227.951 0.918,226.369 0.907,224.622 0.907 L 221.488 0.907 221.488 4.334 M261.518 0.936 C 261.525 0.952,262.834 3.230,264.428 5.997 L 267.326 11.030 267.326 14.329 L 267.326 17.628 269.453 17.628 L 271.581 17.628 271.581 14.331 L 271.581 11.034 274.491 6.000 C 276.091 3.232,277.406 0.953,277.412 0.937 C 277.421 0.913,276.956 0.907,274.937 0.907 L 272.450 0.907 270.952 3.953 C 270.128 5.629,269.448 7.000,269.442 6.999 C 269.435 6.999,268.756 5.628,267.932 3.953 L 266.435 0.907 263.971 0.907 C 262.009 0.907,261.509 0.913,261.518 0.936 M290.535 4.334 C 290.535 7.579,290.537 7.763,290.576 7.774 C 290.598 7.780,291.548 8.603,292.686 9.602 C 293.824 10.601,294.764 11.418,294.773 11.418 C 294.783 11.419,294.791 9.948,294.791 8.150 L 294.791 4.881 296.134 4.889 L 297.477 4.897 297.709 4.960 C 298.403 5.146,298.814 5.539,298.968 6.163 C 299.009 6.328,299.012 6.490,299.012 9.244 L 299.012 12.151 298.959 12.349 C 298.751 13.139,298.157 13.560,297.151 13.628 C 296.970 13.641,295.436 13.651,293.680 13.651 L 290.535 13.651 290.535 15.640 L 290.535 17.628 293.785 17.628 C 297.577 17.628,297.794 17.619,298.674 17.442 C 301.235 16.927,302.836 15.382,303.216 13.058 C 303.276 12.694,303.310 6.624,303.256 5.965 C 303.013 2.989,300.774 1.114,297.244 0.930 C 296.998 0.918,295.416 0.907,293.669 0.907 L 290.535 0.907 290.535 4.334 M305.512 9.267 L 305.512 17.628 311.337 17.628 L 317.163 17.628 317.163 15.616 L 317.163 13.605 313.488 13.605 L 309.814 13.605 309.814 12.372 L 309.814 11.140 313.186 11.140 L 316.558 11.140 316.558 9.302 L 316.558 7.465 313.186 7.465 L 309.814 7.465 309.814 6.186 L 309.814 4.907 313.488 4.907 L 317.163 4.907 317.163 2.907 L 317.163 0.907 311.337 0.907 L 305.512 0.907 305.512 9.267 M334.814 9.267 L 334.814 17.628 336.942 17.628 L 339.070 17.628 339.070 9.267 L 339.070 0.907 336.942 0.907 L 334.814 0.907 334.814 9.267 M341.674 9.267 L 341.674 17.628 347.198 17.628 L 352.721 17.628 352.721 15.523 L 352.721 13.419 349.326 13.419 L 345.930 13.419 345.930 7.163 L 345.930 0.907 343.802 0.907 L 341.674 0.907 341.674 9.267 M369.070 9.267 L 369.070 17.628 371.221 17.628 L 373.372 17.628 373.372 14.977 L 373.372 12.326 373.738 12.327 L 374.105 12.328 376.034 14.978 L 377.963 17.628 380.598 17.628 C 382.047 17.628,383.232 17.620,383.232 17.610 C 383.232 17.601,382.367 16.505,381.311 15.174 C 380.254 13.844,379.235 12.561,379.047 12.324 L 378.704 11.891 378.916 11.815 C 380.927 11.094,382.015 9.124,381.947 6.327 C 381.871 3.234,380.093 1.352,376.892 0.978 C 376.397 0.920,375.607 0.908,372.424 0.907 L 369.070 0.907 369.070 9.267 M87.395 4.380 C 87.395 7.647,87.398 7.832,87.436 7.843 C 87.458 7.850,88.408 8.672,89.547 9.672 C 90.685 10.671,91.624 11.488,91.634 11.488 C 91.643 11.488,91.651 9.918,91.651 7.998 L 91.651 4.508 93.017 4.517 C 94.332 4.526,94.391 4.528,94.565 4.576 C 95.987 4.971,96.023 6.916,94.616 7.389 L 94.430 7.452 93.436 7.460 L 92.442 7.468 92.442 9.000 L 92.442 10.532 93.483 10.541 C 94.659 10.550,94.662 10.550,95.070 10.750 C 96.268 11.337,96.266 13.127,95.067 13.706 C 94.587 13.937,94.724 13.930,90.785 13.930 L 87.395 13.930 87.395 15.791 L 87.395 17.651 90.901 17.651 C 94.484 17.650,94.947 17.641,95.592 17.558 C 98.238 17.219,99.773 15.793,100.173 13.306 C 100.464 11.494,99.636 9.754,98.063 8.875 C 97.831 8.745,97.832 8.747,97.947 8.686 C 98.883 8.188,99.526 7.007,99.522 5.791 C 99.514 3.345,97.984 1.554,95.488 1.071 C 94.834 0.944,94.944 0.947,91.029 0.937 L 87.395 0.927 87.395 4.380 M181.387 4.605 C 182.483 4.791,183.204 5.337,183.359 6.098 C 183.414 6.371,183.414 12.174,183.358 12.426 C 182.924 14.391,178.570 14.432,178.069 12.475 C 178.004 12.220,177.997 6.370,178.061 6.086 C 178.311 4.984,179.776 4.331,181.387 4.605 M391.352 4.603 C 392.415 4.786,393.110 5.288,393.318 6.023 C 393.384 6.258,393.384 12.254,393.318 12.488 C 392.775 14.411,388.490 14.392,388.036 12.464 C 387.983 12.238,387.982 6.267,388.035 6.057 C 388.309 4.975,389.775 4.332,391.352 4.603 M166.461 4.949 C 168.323 5.517,168.296 8.092,166.423 8.599 L 166.198 8.660 164.797 8.669 L 163.395 8.678 163.395 6.780 L 163.395 4.881 164.843 4.889 C 166.263 4.897,166.294 4.898,166.461 4.949 M376.423 4.947 C 378.081 5.414,378.313 7.706,376.779 8.453 C 376.357 8.659,376.206 8.674,374.634 8.674 L 373.372 8.674 373.372 6.778 L 373.372 4.882 374.808 4.889 C 376.199 4.896,376.250 4.898,376.423 4.947 M44.953 5.669 C 44.953 5.679,45.210 6.770,45.523 8.093 C 45.837 9.416,46.093 10.501,46.093 10.505 C 46.093 10.509,45.538 10.512,44.859 10.512 C 43.881 10.512,43.626 10.506,43.635 10.483 C 43.641 10.467,43.916 9.373,44.247 8.052 C 44.823 5.756,44.851 5.651,44.901 5.651 C 44.930 5.651,44.953 5.659,44.953 5.669 M108.742 8.052 C 109.054 9.373,109.314 10.467,109.320 10.483 C 109.328 10.506,109.073 10.512,108.093 10.512 C 107.113 10.512,106.858 10.506,106.865 10.483 C 106.871 10.467,107.147 9.373,107.478 8.052 C 108.029 5.862,108.085 5.651,108.128 5.651 C 108.171 5.651,108.222 5.849,108.742 8.052 M5.419 9.453 L 5.419 11.465 9.105 11.465 L 12.791 11.465 12.791 9.453 L 12.791 7.442 9.105 7.442 L 5.419 7.442 5.419 9.453"></path></svg>') !important;
	display: inline !important;
	position: absolute !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	visibility: visible !important;
}

/* in settings menu */

html > head + body > div#app-mount.appMount-3VJmYg > div.app-19_DXt > div > div.layers-3iHuyZ.flex-vertical.flex-spacer > div.layer-3QrUeG + div.layer-3QrUeG > div.standardSidebarView-3F1I7i:before {
	content: url('https://i.imgur.com/vJnc9P9.png') !important;
	display: inline !important;
	position: absolute !important;
	left: unset !important;
	bottom: 70px !important;
	top: unset !important;
	right: 100px !important;
	opacity: 0.3 !important;
	padding: 0 !important;
	margin: 0 !important;
	visibility: visible !important;
}

html > head + body > div#app-mount.appMount-3VJmYg > div.app-19_DXt > div.app > div.layers-3iHuyZ.flex-vertical.flex-spacer > div.layer-3QrUeG + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div.scroller-2FKFPG.sidebarRegionScroller-3MXcoP > div.sidebar-CFHs9e > div.side-8zPYf6 > span#bd-settings-sidebar:after {
	content: "Theme by Dr.Joint420" !important;
	font-size: 12px !important; 
	font-weight: 600 !important; 
	color: rgb(114, 118, 125) !important; 
	padding: 2px 10px !important;
}
